<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
        <!--Server-->
        <entry key="server.port">1234</entry>
        <entry key="server.max.message.count">10</entry>
        <entry key="server.max.users.count">2</entry> 
</properties>